:host {
  display: block;
  width: 100%;
}

.semana-fila {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

app-dia {
  flex: 1;
  width: 100%;
}
